			* {
				margin: 0;
				padding: 0;
			}

			a {
				text-decoration: none;
			}
			
			.topbar {
				width: 1423px;
				height: 40px;
				background-color: #333;
				font-size: 12px;
			}

			.topbar-nav {
				width: 678.567px;
				height: 100%;
				line-height: 40px;
				float: left;
				margin-left: 98.5px;
				/* word-spacing: 1.5; */
			}

			.topbar a {
				display: inline-block;
				height: 40px;
				color: #b0b0b0;
			}
			.app-box{
				width: 124px;
				transform: translateY(-1000px);
				/* display: none; */
				transition: .5s;
				position: absolute;
				top: 40px;
				left: 600px;
				background-color: white;
				padding-top: 17px;
				padding-bottom: 17px;
				/* transform: translateY(-1000px); */
				/* height: 0px; */
				/* overflow: hidden; */
			}
			.topbar-app:hover .app-box{
				transform: translateY(0);
				/* display: block; */
				/* height: 110px; */
			}
			.topbar-title:hover,
			.topbar-app:hover,
			.topbar-titler:hover {
				color: white;
			}

			.topbar-title,
			.topbar-app{
				margin-right: 11px;
			}

			.topbar-gouwuche {
				background: #424242;
				color: white;
				display: inline-block;
				width: 120px;
				height: 100%;
				float: right;
				margin-right: 98.5px;
				margin-top: 0;
				text-align: center;
				line-height: 40px;
			}
			.topbar-gouwuche1{
				width: 316px;
				height: 98px;
				background-color: white;
				position: absolute;
				top: 40px;
				right: 97px;
				z-index: 1;
				font-size: 12px;
				text-align: center;
				line-height: 98px;
				color: #333333;
				display: none;
				border: 1px solid #808080;
				border-top: none;
			}

			.topbar-nav2 {
				width: 150px;
				height: 100%;
				line-height: 40px;
				float: left;
				margin-left: 277px;
			}

			.topbar-gouwuche:hover {
				background: white;
				color: #ff6700;
			}
			.topbar-gouwuche:hover .topbar-gouwuche1{
				display: block;
			}
			.bodyer {
				width: 1226px;
				height: 100px;
				margin-left: 97px;
			}

			.head-logo {
				float: left;
			}

			.head-bar {
				width: 650px;
				height: 88px;
				/* border: 1px solid !important; */
				float: left;
				margin-top: 12px;
				margin-left: 188px;
			}
			
			.head-navbar li{
				float: left;
				margin-right: 20px;
				line-height: 88px;
			}
			
			.head-navbar a{
				color: #333333;
			}
			
			.head-navbar a:hover{
				color: #ff6700;
			}
			html{
				position: relative;
			}
			.head-bar1{
				width: 1423px;
				height: 230px;
				background-color: white;
				border-top: 1px solid #999999;
				border-bottom: 1px solid #999;
				position:absolute;
				left: 0;
				padding-left: 97px;
				line-height: normal;
				display: none;
			}
			.xiaomishouji:hover .head-bar1{
				display: block;
			}
			.hongmi:hover .head-bar1{
				display: block;
			}
			.dianshi:hover .head-bar1{
				display: block;
			}
			.bijiben:hover .head-bar1{
				display: block;
			}
			.jiadian:hover .head-bar1{
				display: block;
			}
			.xinpin:hover .head-bar1{
				display: block;
			}
			.luyouqi:hover .head-bar1{
				display: block;
			}
			.zhinengyingjian:hover .head-bar1{
				display: block;
			}
			.head-bar1 div{
				width: 204px;
				height: 201px;
				float: left;
				
			}
			.head-bar1 p{
				font-size: 12px;
				text-align: center;
				padding: 1px 20px;
				border:1px solid #FF0000;
			}
			.head-bar1-first a,
			.head-bar1-second a,
			.head-bar1-third a,
			.head-bar1-fourth a,
			.head-bar1-fifth a,
			.head-bar1-sixth a{
				display: inline-block;
				width: 185px;
				height: 110px;
				margin-top: 15px;
				border-right: 2px solid #b0b0b0;
				margin-left: 23px;
			}
			
			#seek-text {
				position: absolute;
				top: 73px;
				right: 151px;
				float: right;
				width: 223px;
				height: 48px;
				padding: 0 10px;
				border: 1px solid #e0e0e0;
				font-size: 14px;
				line-height: 48px;
			}

			.seek-find {
				width: 50px;
				height: 35px;
				float: right;
				margin-top: 33px;
				border: 1px solid #e0e0e0;
				text-align: center;
				padding-top: 13px;
			}

			.seek-find:hover {
				background-color: #ff6700;
			}

			.nav {
				width: 1226px;
				height: 460px;
				margin-left: 97px;
			}

			.left-nav {
				width: 234px;
				height: 420px;
				padding-top: 20px;
				padding-bottom: 20px;
				background-color: rgba(0, 0, 0, 0.6);
				float: left;
			}

			.left-nav a {
				display: inline-block;
				width: 234px;
				height: 42px;
				line-height: 42px;
				color: #fff;
				font-size: 14px;
			}
			.left-nav li:hover{
				background-color: #ff6700;
			}
			
			.nav-img img{
				width: 992px;
				height: 460px;
			}
			.left-nav-style{
				width: 992px;
				height: 460px;
				background-color:white;
				position: absolute;
				left: 330px;
				top: 140px;
				display: none;
			}
			
			.left-nav-style div{
				width: 248px;
				height: 460px;
				float: left;
			}
			.left-nav-style a{
				padding-left: 20px;
				margin-top: 16px;
				margin-bottom: 16px;
				color: #333333;
			}
			.left-nav-style span{
				float: left;
			}
			
			.left-nav-style img{
				float: left;
				width: 40px;
				height: 40px;
			}
			.left-nav-style a:hover{
				color: #ff6700;
			}
			.dianhuaka:hover .left-nav-style{
				display: block;
			}
			.hezi:hover .left-nav-style{
				display: block;
			}
			.pingban:hover .left-nav-style{
				display: block;
			}
			.chaxianban:hover .left-nav-style{
				display: block;
			}
			.chuandai:hover .left-nav-style{
				display: block;
			}
			.zhineng:hover .left-nav-style{
				display: block;
			}
			.dianyuan:hover .left-nav-style{
				display: block;
			}
			.ertong:hover .left-nav-style{
				display: block;
			}
			.erji:hover .left-nav-style{
				display: block;
			}
			.shenghuo:hover .left-nav-style{
				display: block;
			}
			.center{
				width: 1226px;
				height: 170px;
				margin-top: 15px;
				margin-left: 97px;
			}
			.list{
				width: 234px;
				height: 170px;
				float: left;
				background-color: #5f5750;
			}
			.list li{
				width: 76px;
				height: 82px;
				float: left;
				list-style: none;
			}
			.list a{
				color: #b0b0b0;
			}
			
			.mi9-picture img{
				width: 316px;
				height: 170px;
			}
			.mi9-picture a{
				width: 316px;
				height: 170px;
				margin-left: 14.5px;
				float: left;
			}
			.ad{
				width: 100%;
				height: 7250px;
				background-color: #f5f5f5;
			}
			.mobile{
				width: 1226px;
				height: 674px;
				margin-left: 97px;
				padding-top: 15px;
			}
			.mobile-leftimg{
				width: 234px;
				height: 614px;
				float: left;
			}
			.pstyle{
				display: inline-block;
				margin-left: 80px;
				background-color: #83c44e;
				padding: 3px 20px;
				font-size: 12px;
				color: white;
			}
			.picture-bottom-p{
				text-align: center;
				color: black;
				margin-top: 20px;
				font-size: 14px;
			}
			.picture-bottom-2p{
				text-align: center;
				color: #B0B0B0;
				font-size: 12px;
				white-space: nowrap;
				overflow: hidden;
			}
			.picture-bottom-3p{
				text-align: center;
				color: #ff6700;
				font-size: 14px;
				margin-top: 20px;
			}
			.mobile-rightad{
				width: 992px;
				height: 614px;
				float: left;
			}
			.mobile-rightad li{
				width: 234px;
				height: 300px;
				margin-left: 13.8px;
				margin-bottom: 13px;
				float: left;
				list-style: none;
				background-color: white;
			}
			.mobile-rightad li:hover{
				transform: translate(0,-3px);
				transition: all 0.3s;
				box-shadow: 1px 1px 20px #ADADAD;
			}
			.mobile-rightad img{
				width: 160px;
				height: 160px;
				margin-left: 37px;
			}
			.household{
				margin-left: 97px;
				margin-top: 30px;
			}
			.household-head{
				width: 1226px;
				height: 58px;
				position: relative;
			}
			.right-top-nav{
				list-style: none;
				/* display: inline-block; */
				width: 280px;
				height: 42px;
				float: right;
				margin-bottom: 0;
			}
			.right-top-nav li{
				float: left;
				font-size: 16px;
				margin-right: 30px;
				line-height: 42px;
			}
			.right-top-nav a:hover{
				color: #FF6700;
				text-decoration: underline;
			}
			.right-top-nav a{
				color: #000000;
			}
			.h-first{
				width: 990px;
				height: 614px;
				position: absolute;
				top: 58px;
				right: 1px;
				
			}
			.h-first li{
				margin-right: 0;
			}
			 .pstyle2{
				line-height: 15px;
				z-index: 555;
				display: inline-block;
				margin-left: 80px;
				background-color: #83c44e;
				padding: 3px 20px;
				font-size: 12px;
				color: white;
			}
			.picture-bottom-p2{
				line-height: 15px;
				text-align: center;
				color: black;
				font-size: 14px;
			}
			.picture-bottom-2p2{
				line-height: 15px;
				text-align: center;
				color: #B0B0B0;
				font-size: 12px;
				white-space: nowrap;
				overflow: hidden;
			}
			.picture-bottom-3p2{
				line-height: 15px;
				text-align: center;
				color: #ff6700;
				font-size: 14px;
				margin-top: 20px;
			}
			.tuijian{
				width: 1226px;
				height: 372px;
				margin-left: 97px;
				float: left;
				margin-top: 20px;
			}
			.tuijian-title{
				width: 100%;
				height: 58px;
			}
			.tuijian-style li{
				width: 234px;
				height: 300px;
				margin-left: 14px;
				margin-bottom: 13px;
				float: left;
				list-style: none;
				background-color: white;
			}
			.tuijian-style img{
				width: 140px;
				height: 140px;
				margin-left: 45px;
				margin-top: 20px;
			}
			.tuijian-style li:hover{
				box-shadow: 1px 1px 20px #ADADAD;
			}
			.reping{
				width: 1226px;
				height: 473px;
				margin-left: 97px;
				float: left;
			}
			.reping-all{
				width: 1226px;
				height: 415px;
			}
			.reping-all li{
				width: 296px;
				height: 415px;
				margin-right: 10px;
				background-color: white;
				float: left;
				list-style: none;
			}
			.reping-all img{
				width: 296px;
				height: 220px;
			}
			.reping-all li:hover{
				box-shadow: 1px 1px 20px #ADADAD;
			}
			.picture-bottom-p3{
				font-size: 14px;
				line-height: 24px;
				width: 240px;
				height: 72px;
				margin: 20px;
				color: #000000;
			}
			.picture-bottom-2p3{
				line-height: 15px;
				color: #B0B0B0;
				font-size: 12px;
				margin-left: 20px;
			}
			.neirong{
				width: 1240px;
				height: 481px;
				margin-left: 97px;
				float: left;
				margin-top: 20px;
			}
			.neirong-all{
				width: 1240px;
				height: 420px;
			}
			.neirong-all li{
				width: 296px;
				height: 420px;
				margin-right: 10px;
				background-color: white;
				list-style: none;
				float: left;
			}
			.neirong-all-title{
				width: 296px;
				height: 80px;
				background-color: white;
			}
			.picture-bottom-p4{
				display: inline-block;
				font-size: 20px;
				margin-top: 15px;
				margin-left: 35px;
				margin-bottom: 10px;
			}
			.neirong-all img{
				width: 216px;
				height: 154px;
				margin-left: 40px;
			}
			.neirong-all li:hover{
				box-shadow: 1px 1px 20px #ADADAD;
			}
			.shipin{
				width: 1240px;
				height: 343px;
				float: left;
				margin-left: 97px;
				margin-top: 20px;
			}
			.shipin-text img{
				width: 296px;
				height: 180px;
			}
			.shipin-text li{
				width: 296px;
				height: 285px;
				list-style: none;
				background-color: white;
				margin-right: 11px;
				float: left;
			}
			.shipin-p-style{
				font-size: 14px;
				color: #000000;
				margin-top: 20px;
				text-align: center;
			}
			.shipin-p-style2{
				font-size: 12px;
				color: #B0B0B0;
				text-align: center;
				margin-top: 15px;
			}
			.shipin li:hover{
				box-shadow: 1px 1px 20px #ADADAD;
			}
			.footer1{
				width: 1423px;
				background-color: white;
			}
			.footer{
				width: 1228px;
				height: 253px;
				float: left;
				background-color: white;
				margin-left: 97px;
				margin-top: 60px;
			}
			.footer-service{
				width: 1226px;
				height: 80px;
				border-bottom: 1px solid #b0b0b0;
			}
			.footer-service li{
				width: 242.733px;
				height: 25px;
				list-style: none;
				float: left;
				margin: 27.5px auto;
				border-left: 1px solid #b0b0b0;
				text-align: center;
			}
			.footer-service a:hover{
				color: #ff6700;
			}
			.footer-center-left{
				width: 974px;
				height: 112px;
				background-color: white;
				margin: 40px 0;
				border-right: 1px solid #b0b0b0;
				float: left;
			}
			.footer-center-left li{
				float: left;
				list-style: none;
				width: 160px;
				height: 112px;
			}
			.footer-center-p-style{
				font-size: 12px;
				color: #b0b0b0;
				margin: 10px 0;
			}
			.footer-center-right{
				width: 252px;
				height: 112px;
				float: left;
				margin: 40px 0;
			}
			.site{
				width: 1226px;
				height: 232px;
				float: left;
				margin-left: 97px;
				margin-top: 30px;
			}
			.site-logo{
				float: left;
			}
			.site-right{
				width: 1159px;
				float: left;
			}
			.site-right a:hover{
				color: #ff6700;
			}
			.site-right-p1{
				font-size: 12px;
				color: #b0b0b0;
				line-height: 19px;
			}
			.site-right-p1 a{
				padding: 0 3px;
				border-right: 1px solid #b0b0b0;
			}
			.site-right-p2{
				font-size: 12px;
				color: #b0b0b0;
				line-height: 18px;
			}
			.white a{
				color: #b0b0b0;
				line-height: 18px;
			}
			.white{
				width: 1159px;
				height: 72px;
				float: left;
			}
			.site-img{
				width: 1226px;
				height: 28px;
				float: left;
				margin-left: 67px;
				margin-top: 10px;
			}
			.site-img img{
				width: 83px;
				height: 28px;
				float: left;
			}
			.last-img{
				width: 267px;
				height: 19px;
				float: left;
				margin-left: 450px;
				margin-top: 40px;
			}
			.mobile-rightad li{
				position: relative;
			}
			.site-right-p1 a{
				color: #000000;
			}
			.xinpingjia{
				position: absolute;
				background-color: #ff6700;
				width: 234px;
				height: 75px;
				bottom: 0;
				display: none;
			}
			.aaa11:hover .xinpingjia,
			.aaa12:hover .xinpingjia,
			.aaa13:hover .xinpingjia,
			.aaa14:hover .xinpingjia,
			.aaa15:hover .xinpingjia,
			.aaa16:hover .xinpingjia,
			.aaa17:hover .xinpingjia
			{
				display: block;
			}
			.aaa21:hover .xinpingjia,
			.aaa22:hover .xinpingjia,
			.aaa23:hover .xinpingjia,
			.aaa24:hover .xinpingjia,
			.aaa25:hover .xinpingjia,
			.aaa26:hover .xinpingjia,
			.aaa27:hover .xinpingjia
			{
				display: block;
			}
			.aaa31:hover .xinpingjia,
			.aaa32:hover .xinpingjia,
			.aaa33:hover .xinpingjia,
			.aaa34:hover .xinpingjia,
			.aaa35:hover .xinpingjia,
			.aaa36:hover .xinpingjia,
			.aaa37:hover .xinpingjia
			{
				display: block;
			}
			.aaa41:hover .xinpingjia,
			.aaa42:hover .xinpingjia,
			.aaa43:hover .xinpingjia,
			.aaa44:hover .xinpingjia,
			.aaa45:hover .xinpingjia,
			.aaa46:hover .xinpingjia,
			.aaa47:hover .xinpingjia
			{
				display: block;
			}
			.aaa51:hover .xinpingjia,
			.aaa52:hover .xinpingjia,
			.aaa53:hover .xinpingjia,
			.aaa54:hover .xinpingjia,
			.aaa55:hover .xinpingjia,
			.aaa56:hover .xinpingjia,
			.aaa57:hover .xinpingjia
			{
				display: block;
			}
			.xinpingjia-1span{
				display: block;
				font-size: 12px;
				color: white;
				width: 174px;
				margin-left: 30px;
				margin-top: 10px;
				line-height: 15px;
			}
			.xinpingjia-2span{
				font-size: 12px;
				color: rgba(255,255,255,0.6);
				display: block;
				line-height: 15px;
				width: 174px;
				margin-left: 30px;
				margin-top: 10px;
			}